@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
}
header {
    background-color: rgb(66, 66, 66);
    box-shadow: 0px 3px 10px #000000;
    width: auto;
    height: 12vh;
}
.headCarrinho{
    display: grid;
    grid-template-columns: 70% 30%;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.headCarrinho .carrd{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.3);
}
.headCarrinho .bodyCarrinho{
    background-color: #fff;
}

.Header-site{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
#imageL{
    display: flex;
    width: 13vw;
    position: relative;
    bottom: 2vw;
    right: 11vh;
}
.cate {
    display: flex;
    align-items: center;
}
.cate .inB{
    width: 50vw;
    height: 4vh;
    cursor: text;
    position: relative;
    bottom:2.5vw;
    right: 8vh;
    border-radius: 8px;
}
.cate .inB::placeholder{
    color: rgb(0, 0, 0);
}

.cate .inB:hover{
    border: 1px solid red;
}
#iconB{
    font-size: 22px;
    color: #000000;
    cursor: pointer;
    position: relative;
    right: 3.3vh;
}
#iconB:hover{
    transform: scale(1.05);
    color: red;
}
.btnB {
    position: relative;
    bottom: 2.5vw;
    right: 8vh;
    border: none;
    background-color: transparent;
}
.userM{
    display: none;
}
.user {
    display: flex;
    align-items: center;
}
.user ul {
    display: flex;
    justify-content: center;
    list-style: none;
    position: relative;
    bottom: 2vw;
}
.item {
    margin: 0 15px;
}
#iconC{
    font-size: 22px;
    color: red;
    cursor: pointer;
}
#iconC:hover{
    transform: scale(1.05);
    color: red;
}
.link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}

.link:hover{
    transform: scale(1.05);
    color: red;
}

.bcCate{
 display: grid;
 align-items: center;
 background-color: rgb(92, 91, 91);
 height: 4vh;
 position: relative;
 bottom: 5vw;
}
.bcCate ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}

.divisao-compras {
    display: flex;
}

.carrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

.carrinho div {
    display: flex;
    gap: 20vh
}

.carrinho label {
    margin-top: 5px
}

.carrinho button {
    background-color: red;
    border: none;
    border-radius: 5px;
    width: 8vw;
    height: 5vh;

}

.carrinho button:hover {
    transform: scale(1.1);

}

.compras {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

.compras input {
    cursor: pointer;
}

.produtos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 5px;
    height: 13vh;
}

.produtos img {
    height: 11vh;
    width: vw;
    padding-left: 9px;
}

.labels {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formExcluir {
    width: 3vw;
    height: 3vh;
    position: absolute;
    right: 0;
}

.formExcluir button {
    border: none;
    background-color: transparent;
}