@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
}

header {
    background-color:rgb(66, 66, 66);
    box-shadow: 0px 3px 10px #000000;
    width: 100vw;
    height: 12vh;
}

.Header-site{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
#imageL{
    display: flex;
    width: 13vw;
    position: relative;
    bottom: 2vw;
    right: 11vh;
}
.cate {
    display: flex;
    align-items: center;
}
.cate .inB{
    width: 20vw;
    height: 4vh;
    cursor: text;
    position: relative;
    bottom: 2.5vw;
    right: 8vh;
}
.cate .inB::placeholder{
    color: rgb(0, 0, 0);
}

.cate .inB:hover{
    border: 1px solid red;
}
#iconB{
    position: relative;
    bottom: 0.5vw;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}
#iconB:hover{
    transform: scale(1.0);
    color: red;
}
.btnB {
    position: relative;
    bottom: 2vw;
    right: 8vh;
    border: none;
    background-color: transparent;
}
.cate ul {
    display: flex;
    justify-content: center;
    list-style: none;
    position: relative;
    bottom: 2vw;
}
.item {
    margin: 0 15px;
}

.link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}

.link:hover{
    transform: scale(1.0);
    color: red;
}

.btnCad button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color:rgb(10, 136, 136) ;
    position: relative;
    bottom: 0.6vw;
}

.btnCad button a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.1rem;
}
.btnCad button:hover{
    transform: scale(1.0);
    background-color: red;
}
.btnCad button a:hover {
    transform: scale(1.0);
}
.carrinho {
    display: flex;
    align-items: center;
}
.carrinho ul {
    display: flex;
    justify-content: center;
    list-style: none;
    position: relative;
    bottom: 2vw;
}
.prod{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}